/public/
/config/services.yaml
/config/packages/security.yaml
/config/packages/ecommerce.yaml
/config/packages/pense-bête.txt
/config/routes/


###> symfony/framework-bundle ###

.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

