{% extends 'layout.html.twig' %}

{% block body %}
  <div class="row">
    <!-- Navigation -->

    <div class="col-lg-3 g-mb-50 g-mb-0--lg2">
    {% block navigation %}
      {% include "utilisateurs/layout/menuMoncompte.html.twig" %}
    {% endblock %}
    </div>
    <!-- End Navigation -->

    <!-- Content -->
    <div class="col-lg-9">
      {% block bodyCompte %}{% endblock %}
    </div>
    <!-- End Content -->

  </div>
{% endblock %}
