<!-- Footer Content -->
<div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
    <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
        <h2 class="u-heading-v2__title h6 text-uppercase mb-0">Latest Posts</h2>
    </div>

    {% for article in articles %}
    <article>
        <h3 class="h6 g-mb-2">
            <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{{ path('view_blog', { 'id': article.id, 'slug': article.slug }) }}">
                {{ article.titre }}
            </a>
        </h3>
        <div class="small g-color-white-opacity-0_6">{{ article.createdAt|date('d M Y') }}</div>
    </article>

    <hr class="g-brd-white-opacity-0_1 g-my-10">
    {% endfor %}
</div>
<!-- End Footer Content -->